<div class="card bg-backgroundSecondary shadow-xl mx-auto h-full">
    <div class="card-body">
        <h2 class="card-header h-[5.8rem] flex items-start flex-col"><span>{{ include.title }}{{ include.name }}</span>
            {% if include.tag_size > 0 %}
            {% for content in include.tags %}
            {% if content != 'all' %}
            <span class="badge badge-outline font-[body]">
                        {{ content }}
                    </span>
            {% endif %}
            {% endfor %}
            {% endif %}</h2>
        <div class="text-content2">
            <div>
                {% if include.time %}
                Time: {{ include.time }}
                {% endif %}
            </div>
        </div>
        <div class="card-footer">
            {% if include.url %}
            {% if include.github %}
            <a href="{{ include.github }}">
                <button class="btn btn-primary font-[body]">Github</button>
            </a>
            {% else %}
            <a href="{{ include.url }}">
                <button class="btn btn-primary font-[body]">Read</button>
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>