<div x-data="{ pageNumber: 0, tag_filter: 'main' }" class="bg-neutral py-4">
        <div class="w-full mx-auto grid gap-6 grid-cols-1 p-8 lg:gap-16 2xl:w-max">
            {% assign currentIndex = 0 %}
            {% for row in include.table %}
            <div>
                {% include course_list_higher_order.html
                name=row.name
                course_one=row.course_one
                course_two=row.course_two
                course_three=row.course_three
                course_four=row.course_four
                course_five=row.course_five
                course_six=row.course_six
                course_seven=row.course_seven
                course_eight=row.course_eight
                image=row.image
                %}
                {% assign currentIndex = currentIndex | plus: 1 %}
            </div>
            {% endfor %}
        </div>
</div>
