
<div class="card my-4 lg:card-side bg-base-100 h-full shadow-xl md:max-w-3xl mx-6 md:mx-auto" >
    <figure>
        <img src="./assets/images/{{ include.image }}" class="aspect-cover object-cover object-center overflow-hidden h-full w-full" />
    </figure>
    <div class="card-body text-neutral-content lg:w-9/12 flex flex-col">
        <h2 class="card-title text-4xl font-[display]">{{ include.name }}</h2>
        <div class="flex">
            {% if include.progress == 'complete' %}
                <div class="badge badge-primary text-primary-content mr-2">Launched</div>
            {% elsif include.progress == 'in-progress' %}
                <div class="badge badge-neutral text-neutral-content mr-2">Pre-Launch</div>
            {% endif %}
            {% if include.status == 'active' %}
                <div class="badge badge-primary text-primary-content">Active</div>
            {% elsif include.status == 'inactive' %}
                <div class="badge badge-neutral text-neutral-content">Not-Active</div>
            {% endif %}
            {% if include.project_type == 'mvp' %}
                <div class="badge badge-primary text-primary-content">MVP</div>
            {% elsif include.project_type == 'prototype' %}
                <div class="badge badge-neutral text-neutral-content">Prototype</div>
            {% elsif include.project_type == 'kata' %}
                <div class="badge badge-neutral text-neutral-content">Kata</div>
            {% endif %}
        </div>
        <div class="card-actions flex h-full w-full flex-col justify-between grow">
            <div class="grow list-image-[url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxNCAxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsPSIjMzhiZGY4Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy42ODUuMTUzYS43NTIuNzUyIDAgMCAxIC4xNDMgMS4wNTJsLTggMTAuNWEuNzUuNzUgMCAwIDEtMS4xMjcuMDc1bC00LjUtNC41YS43NS43NSAwIDAgMSAxLjA2LTEuMDZsMy44OTQgMy44OTMgNy40OC05LjgxN2EuNzUuNzUgMCAwIDEgMS4wNS0uMTQzWiIgLz48L3N2Zz4=')]">
                <div class="font-[body]">💀{{ include.learningone }}</div>
                <div class="font-[body]">💀{{ include.learningtwo }}</div>
                <div class="font-[body]">💀{{ include.learningthree }}</div>
            </div>
            <div class="w-full flex justify-end">
                <a href="{{ include.github }}" target="_blank"><button class="btn btn-primary">Github Link</button></a>
            </div>
        </div>
    </div>
</div>

