<div x-data="{ pageNumber: 0, tag_filter: 'main' }" class="bg-neutral py-4 font-[News Cycle]">
        <div class="w-full mx-auto md:p-8 md:grid md:gap-16 md:grid-cols-2 2xl:w-max">
            {% assign currentIndex = 0 %}
            {% for row in include.table %}
            <div >
                {% include component_list_higher_order.html
                main=true
                name=row.name
                image=row.image
                description=row.description
                url=row.url
                tag_size=row.tags.size
                index=currentIndex
                %}
                {% assign currentIndex = currentIndex | plus: 1 %}
            </div>
            {% endfor %}
        </div>
        <div
        class="w-full md:w-1/2 mx-auto py-6 flex justify-between items-center"
        x-show="{{ include.table.size }}"
      >
    </div>
</div>
