
<div class="card lg:card-side w-full bg-base-100 shadow-xl my-4 max-w-xs md:max-w-3xl mx-auto" >
    <figure>
        <img src="./assets/images/{{ include.image }}" class="h-full" />
    </figure>
    <div class="card-body lg:w-9/12">
        <h2 class="card-title">{{ include.name }}</h2>
                    {% if tag_size > 0 %}
                        {% for tag in tags %}
        
                            <div class="badge badge-primary badge-outline">
                                {% tag %}
                            </div>
                        {% endfor %}
                    {% endif %}
        <p>
         {{ include.description }}
        </p>
        <div class="card-actions justify-end">
            <a href="{{ include.url }}" ><button class="btn btn-primary">Go There</button></a>
        </div>
    </div>
</div>
