
<div class="card lg:card-side bg-base-100 shadow-xl my-4" >
    <figure>
        <img src="./assets/images/{{ include.image }}" class="artboard artboard-horizontal" />
    </figure>
    <div class="card-body ">
        <h2 class="card-title">{{ include.name }}</h2>
        <p>
         {{ include.description }}
        </p>
        <div class="card-actions justify-end">
            <a href="{{ include.url }}" ><button class="btn btn-primary">Go There</button></a>
        </div>
    </div>
</div>
