
<div class="card lg:card-side md:w-full bg-base-100 h-full shadow-xl my-4 md:max-w-3xl mx-6 md:mx-auto" >
    <figure>
        <img src="./assets/images/{{ include.image }}" class="aspect-cover object-cover object-center overflow-hidden h-full w-full" />
    </figure>
    <div class="card-body lg:w-9/12">
        <h2 class="card-title">{{ include.name }}</h2>
        <div class="flex">
            {% if include.progress == 'complete' %}
                <div class="badge badge-primary mr-2">Complete</div>
            {% elsif include.progress == 'in-progress' %}
                <div class="badge badge-secondary mr-2">In-Progress</div>
            {% endif %}
            {% if include.status == 'active' %}
                <div class="badge badge-accent">Active</div>
            {% elsif include.status == 'inactive' %}
                <div class="badge badge-ghost">In-Active</div>
            {% endif %}
        </div>
        <ul class="list-disc">
            <li>{{ include.learningone }}</li>
            <li>{{ include.learningtwo }}</li>
            <li>{{ include.learningthree }}</li>
        </ul>
        <div class="card-actions justify-end mt-auto">
            <a href="{{ include.github }}" target="_blank"><button class="btn btn-primary">Github Link</button></a>
        </div>
    </div>
</div>

