
<div class="card lg:card-side bg-base-100 shadow-xl my-4" >
    <figure>
        <img src="./assets/images/{{ include.image }}" class="h-full" />
    </figure>
    <div class="card-body w-9/12">
        <h2 class="card-title">{{ include.name }}</h2>
        {% if include.progress == "complete" %}
            <div class="badge badge-primary">Complete</div>
        {% elsif include.progress == "in-progress" %}
            <div class="badge badge-secondary">In-Progress</div>
        {% endif %}
        <ul class="list-disc">
            <li>{{ include.learningone }}</li>
            <li>{{ include.learningtwo }}</li>
            <li>{{ include.learningthree }}</li>
        </ul>
        <div class="card-actions justify-end">
            <a href="{{ include.github }}" target="_blank"><button class="btn btn-primary">Github Link</button></a>
        </div>
    </div>
</div>

