<div x-data="{ pageNumber: 0, tag_filter: 'main' }" class="bg-neutral py-4">
        <div class="w-full mx-auto grid gap-6 grid-cols-1 p-8 lg:gap-16 lg:grid-cols-2 2xl:w-max">
            {% assign currentIndex = 0 %}
            {% for row in include.table %}
            <div>
                {% include component_list_higher_order.html
                main=true
                name=row.name
                image=row.image
                learningone=row.learningone
                learningtwo=row.learningtwo
                learningthree=row.learningthree
                github=row.github
                progress=row.progress
                status=row.status
                description=row.description
                url=row.url
                tag_size=1
                tags=row.tags
                index=currentIndex
                external=row.external
                %}
                {% assign currentIndex = currentIndex | plus: 1 %}
            </div>
            {% endfor %}
        </div>
</div>
