
<div 
        x-show="{{ include.main }} && tag_filter == 'main' || '{{ include.match_tag[0] }}'.includes(tag_filter)" 
        :class="{ 'hidden' : {{ include.index }} < (pageNumber) * 4 || {{ include.index }} > (pageNumber + 1) * 4 - 1 }"
        class="card lg:card-side w-full h-full bg-base-100 shadow-xl my-4 max-w-xs md:max-w-3xl mx-auto" >
    <figure>
        <img src="./assets/images/{{ include.image }}" class="h-full aspect-cover object-cover w-full h-72" />
    </figure>
    <div class="card-body lg:w-9/12">
        <h2 class="card-title">{{ include.name }}</h2>
                    <div>
                    {% if include.tag_size > 0 %}
                        {% for content in include.tags %}
                            <span class="badge badge-primary badge-outline">
                                {{ content }}
                            </span>
                        {% endfor %}
                    {% endif %}
                    </div>
        <p>
         {{ include.description }}
        </p>
        <div class="card-actions justify-end mt-auto">
            <a href="{{ include.url }}" ><button class="btn btn-primary">Go There</button></a>
        </div>
    </div>
</div>
