<div x-data="{ pageNumber: 0 }">
        <div class="w-full bg-base-200 text-neutral-content md:p-8 md:grid md:gap-16 md:grid-cols-2">
            {% for row in include.table %}

            <div :class="{ 'hidden' : {{ forloop.index }} < pageNumber * 4 + 1 || {{ forloop.index }} > (pageNumber + 1) * 4   }">
                {% include component_list_description.html name=row.name image=row.image description=row.description url=row.url  %}
            </div>
            {% endfor %}
        </div>
        <div
        class="w-full md:w-1/2 mx-auto py-6 flex justify-between items-center"
        x-show="{{ include.table.size }}"
      >
        <!--First Button-->
        <button
          x-on:click="pageNumber = 0"
          :disabled="pageNumber==0"
          :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber==0 }"
        >
          <svg
            class="h-8 w-8 text-indigo-600"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polygon points="19 20 9 12 19 4 19 20"></polygon>
            <line x1="5" y1="19" x2="5" y2="5"></line>
          </svg>
        </button>

        <!--Previous Button-->
        <button
          x-on:click="--pageNumber"
          :disabled="pageNumber==0"
          :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber==0 }"
        >
          <svg
            class="h-8 w-8 text-indigo-600"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="15 18 9 12 15 6"></polyline>
          </svg>
        </button>

        <!-- Display page numbers -->
        <template x-for="index in Math.ceil({{ include.table.size }} / 4)">
          <button
            class="px-3 py-2 rounded"
            :class="{ 'bg-indigo-600 text-white font-bold' : index - 1 === pageNumber }"
            type="button"
            x-on:click="pageNumber = index - 1"
          >
            <span x-text="index"></span>
          </button>
        </template>

        <!--Next Button-->
        <button
          x-on:click="++pageNumber"
          :disabled="pageNumber >= Math.ceil( {{ include.table.size }} / 4)"
          :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber >= Math.ceil({{ include.table.size }} / 4) }"
        >
          <svg
            class="h-8 w-8 text-indigo-600"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </button>

        <!--Last Button-->
        <button
          x-on:click="++pageNumber"
          :disabled="pageNumber >= Math.ceil({{ include.table.size }} / 4)"
          :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber >= Math.ceil({{ include.table.size }} / 4) }"
        >
          <svg
            class="h-8 w-8 text-indigo-600"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <polygon points="5 4 15 12 5 20 5 4"></polygon>
            <line x1="19" y1="5" x2="19" y2="19"></line>
          </svg>
        </button>
      </div>
    </div>
