<meta name="keywords" content="{{ include.keywords }}">
<meta name="description" content="{{ include.description }}">

<meta property="og:title" content="{{ include.title }}">
<meta property="og:url" content="https://codeitquick.github.io{{ include.pageurl }}">
<meta property="og:type" content="article">
<meta property="og:image" content="https://codeitquick.github.io/assets/images/{{ include.image }}">
<meta property="og:image:type" content="image/webp">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:description" content="{{ include.description }}">

<meta name="twitter:title" content="Forever Twenty Nine">
<meta name="twitter:image" content="https://codeitquick.github.io/ForeverTwentyNine/assets/images/{{ include.image }}">
<meta name="twitter:description" content="{{ include.description }}">
<meta name="twitter:card" content="summary_large_image">
