---
---

@import "output.css";
@import "rouge.css";
.markdown {
    h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
        margin-top: 1.12rem;
        margin-bottom: 1.12rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-top: 1.12rem;
        margin-bottom: 1.12rem;
    }

    h3 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-top: 1.12rem;
        margin-bottom: 1.12rem;
    }
    p {
        margin-top: 1.12rem;
        margin-bottom: 1.12rem;
        font-size: 1.12rem;
        line-height: 1.8rem;
    }
}
