<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" x-init="mode = 'dark'" x-data="
{
    mode: 'light',
    darkModeOn() {
        this.mode = 'dark';
        localStorage.setItem('siteTheme', 'dark');
     },
    lightModeOn() {
        this.mode = 'light';
        localStorage.setItem('siteTheme', 'light');
    },
    getMode() {
        if (localStorage.getItem('siteTheme')) {
            this.mode = localStorage.getItem('siteTheme');
        }
        return this.mode;
    }
}" >
{% include header.html %}

<body class="bg-neutral text-neutral-content mx-auto antialiased font-[body]" x-bind:data-theme="getMode()">

    {% include component_navbar.html %}

    {% include hero.html title=site.blog description="And now for something completely different." image="graveyard_4_generated.jpg" %}

    {% include component_table_blog.html %}
</body>
