<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-theme="synthwave">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>

  <body>
    <div class="text-neutral-content bg-base-100">
      <div class="hero py-8 lg:py-32">
        <div class="hero-content flex flex-col lg:flex-row items-start rounded">
          <img src="./assets/images/rotting-zombie.jpg" class="rounded-lg shadow-2xl md:pr-8" />
          <div class="flex flex-col items-center justify-start rounded bg-base-100 h-full md:pl-8">
            <h1 class="text-5xl font-bold text-base-100 bg-accent p-4 lg:p-16 w-full rounded w-full">{{ site.title | default: site.github.repository_name }}</h1>
            <div class="rounded-b-lg h-full w-full">
              <p class="py-8 bg-base-100 w-full">{{ site.description | default: site.github.project_tagline }}</p>
              <div class="bg-base-100 w-full rounded">
                <button class="btn btn-primary"><a href="https://www.github.com/CodeItQuick">Github</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto text-neutral-content py-8 lg:py-32">
          {% for project in site.projects %}
          {% assign remainder = forloop.index0 | modulo: 2 %}
          {% if remainder == 0 %}
          <div class="card lg:card-side bg-base-100 shadow-xl w-full my-8 lg:my-32">
            <figure > 
              <img src="./assets/images/{{ project.image }}" class="artboard artboard-horizontal phone-3" style="object-fit: cover; object-position: top center;" />
            </figure>
            <div class="card-body flex justify-evenly p-16">
              <h2 class="card-title w-full p-4 bg-accent text-base-100 rounded-lg">{{ project.name }}</h2>
              <ul class="list-disc leading-loose">
                <li>{{ project.learningone }}</li>
                <li>{{ project.learningtwo }}</li>
                <li>{{ project.learningthree }}</li>
              </ul>
              <div class="card-actions justify-end">
                <button class="btn btn-primary"><a href="{{ project.github }}">Github Link</a></button>
              </div>
            </div>
          </div>
          {% endif %}
          
          {% if remainder == 1 %}
          <div class="card lg:card-side bg-base-100 shadow-xl w-full my-8 lg:my-32">
              <div class="card-body flex justify-evenly p-16">
                <h2 class="card-title w-full p-4 bg-accent text-base-100 rounded-lg">{{ project.name }}</h2>
                <ul class="list-disc leading-loose">
                  <li>{{ project.learningone }}</li>
                  <li>{{ project.learningtwo }}</li>
                  <li>{{ project.learningthree }}</li>
                </ul>
                <div class="card-actions justify-start">
                  <button class="btn btn-primary"><a href="{{ project.github }}">Github Link</a></button>
                </div>
              </div>
              <figure > 
                <img src="./assets/images/{{ project.image }}" class="artboard artboard-horizontal phone-3" style="object-fit: cover; object-position: top center;" />
              </figure>
          </div>
          {% endif %}
          {% endfor %}
    </div>

  </body>
</html>
