<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" data-theme="coffee">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.6/dist/full.css" rel="stylesheet" type="text/css" />
    <!-- Include the Alpine library on your page -->
    <script src="https://unpkg.com/alpinejs" defer></script>
    <!-- Include the TailwindCSS library on your page -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <title>CodeItQuick Blog</title>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% include head-custom.html %}
</head>

<body class="bg-base-200 mx-auto">

    {% include component_navbar.html %}

    {% include hero.html title=page.name description=page.description image="graveyard_4_generated.jpg" %}
    
    <div class="w-full bg-base-200 text-neutral-content p-8 flex-col md:p-32 md:flex md:flex-wrap markdown">
        {{ content }}
    </div>

</body>
