<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}" x-init="mode = 'dark'" x-data="
{
    mode: 'light',
    darkModeOn() {
        this.mode = 'dark';
        localStorage.setItem('siteTheme', 'dark');
     },
    lightModeOn() {
        this.mode = 'light';
        localStorage.setItem('siteTheme', 'light');
    },
    getMode() {
        if (localStorage.getItem('siteTheme')) {
            this.mode = localStorage.getItem('siteTheme');
        }
        return this.mode;
    }
}" >
{% include header.html %}

  <body class="bg-neutral text-neutral-content mx-auto antialiased font-[body]"  x-bind:data-theme="getMode()">

    {% include component_navbar.html %}

    <div x-data="{ pageNumber: 0 }" class="bg-neutral">
      <div class="w-full py-8 mx-auto md:p-8 md:grid md:gap-16 md:grid-cols-2 2xl:w-max">
        {% for row in site.projects %}
          {% if row.project_type == 'prototype' or row.project_type == 'kata' %}
              <div>
                {% include component_list_higher_order.html
                name=row.name
                image=row.image
                project_type=row.project_type
                learningone=row.learningone
                learningtwo=row.learningtwo
                learningthree=row.learningthree
                github=row.github
                tag_size=0
                progress=row.progress
                status=row.status
                %}
              </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    
  </body>
</html>
