<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" data-theme="coffee">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.7.6/dist/full.css" rel="stylesheet" type="text/css" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

</head>

<body class="bg-base-200 mx-auto max-w-6xl">
    {% include navbar.html %}

    {% include hero.html title=page.title description="A list of recipes I make regularly (for now)." image="graveyard_5_generated.jpg" %}

    <div x-data="{ pageNumber: 0 }">
        <div class="w-full bg-base-200 text-neutral-content md:p-8 md:grid md:gap-16 md:grid-cols-2">
            {% for recipe in site.recipes %}

            <div :class="{ 'hidden' : {{ forloop.index }} < pageNumber * 4 + 1 || {{ forloop.index }} > (pageNumber + 1) * 4   }">
                {% include component_list_description.html name=recipe.name image=recipe.image description=recipe.description url=recipe.url  %}
            </div>
            {% endfor %}
        </div>
        <div
          class="w-full md:w-1/2 mx-auto py-6 flex justify-between items-center"
          x-show="{{ include.size }}"
          x-data="{{ pageNumber }}"
        >
          
          <!--First Button-->
          <button
            x-on:click="pageNumber = 0"
            :disabled="pageNumber==0"
            :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber==0 }"
          >
            <svg
              class="h-8 w-8 text-indigo-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polygon points="19 20 9 12 19 4 19 20"></polygon>
              <line x1="5" y1="19" x2="5" y2="5"></line>
            </svg>
          </button>
        
          <!--Previous Button-->
          <button
            x-on:click="--pageNumber"
            :disabled="pageNumber==0"
            :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber==0 }"
          >
            <svg
              class="h-8 w-8 text-indigo-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
          </button>
        
          <!-- Display page numbers -->
          <template x-for="index in 4">
            <button
              class="px-3 py-2 rounded"
              :class="{ 'bg-indigo-600 text-white font-bold' : index - 1 === pageNumber }"
              type="button"
              x-on:click="pageNumber = index - 1"
            >
              <span x-text="index"></span>
            </button>
          </template>
        
          <!--Next Button-->
          <button
            x-on:click="++pageNumber"
            :disabled="pageNumber >= 3"
            :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber >= 3 }"
          >
            <svg
              class="h-8 w-8 text-indigo-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </button>
        
          <!--Last Button-->
          <button
            x-on:click="++pageNumber"
            :disabled="pageNumber >= 3"
            :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber >= 3 }"
          >
            <svg
              class="h-8 w-8 text-indigo-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polygon points="5 4 15 12 5 20 5 4"></polygon>
              <line x1="19" y1="5" x2="19" y2="19"></line>
            </svg>
          </button>
        </div>
    </div>
</body>
