---
layout: recipe
---

<html lang="{{ site.lang | default: 'en-US' }}" x-init="mode = 'dark'" x-data="
{
    mode: 'light',
    darkModeOn() {
        this.mode = 'dark';
        localStorage.setItem('siteTheme', 'dark');
     },
    lightModeOn() {
        this.mode = 'light';
        localStorage.setItem('siteTheme', 'light');
    },
    getMode() {
        if (localStorage.getItem('siteTheme')) {
            this.mode = localStorage.getItem('siteTheme');
        }
        return this.mode;
    }
}" >

{% include header.html %}

<body class="bg-neutral min-w-fit text-neutral-content antialiased font-[body]" x-bind:data-theme="getMode()">

    {% include component_navbar.html %}

<div class="w-full bg-base-200 p-8 flex-col md:p-32 md:flex md:flex-wrap markdown min-w-fit">
    {{ content }}
</div>

</body>
